.checklistItemText {
	color: white !important;
}
.sideMargin {
	margin: 0 8px;
}
.taskModalTitle {
	font-size: 32px !important;
}
.taskModalDescription {
	font-size: 22px !important;
}
.descriptor {
	font-size: 16px !important;
	font-style: italic;
}
.displayInline {
	display: inline-block !important;
}
.taskHeading {
	font-size: 18px;
}
.taskDescription {
	font-size: 14px;
}
.due2 {
	font-style: italic;
	color: gray;
	font-size: 18px;
	margin-right: 4px !important;
}
.due_date2 {
	display: block !important;
	font-size: 22px !important;
	margin: 24px 4px 4px 200px !important;
	padding-left: 8px;
}
.addChecklistItemBar {
	margin-top: 20px;
	padding-top: 10px;
}
.editButton {
	width: 36px;
	height: 36px;
	padding: 6px !important;
	margin: 2px 8px 0 10px !important;
	float: right;
}
.taskListHeader {
	font-size: 24px;
	font-style: italic;
	background-color: lightgray !important;
	color: darkslategray !important;
	border-radius: 4px;
	padding: 3px 3px 3px 6px;
	max-width: 50%;
}
.taskListBox {

}
.taskItem {
	font-size: 20px;
}
.well {
	max-width: 400px; 
	margin: 0 auto 4px;
}
.buttonWell {
	float: right;
}
.editProjectHeader {
	font-size: 30px !important;
	border: solid lightgray 5px !important;
	color: lightgray !important;
	margin-bottom: 10px !important;
}
.inputBar {
	max-width: 50%;
}
.dateConstituents {
	color: darkgray;
}
.usersBox {
	display: inline-block !important;

	border: solid gray 2px;
	border-radius: 4px;
}
.userChipsBox {
	overflow-x: auto;
}
.userDropdown {
	margin: 6px 2px 6px 240px !important;
}
.projectNameBar {
	font-size: 30px !important;
}
.modal_users {
	min-width: 80px;
	height: 46px;
	border: solid gray 3px;
	border-radius: 14px;
	box-shadow: 1 5 5 3;
}
.userChipText {
	display: inline;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
}
.x-box {
	min-width: 40px;
	max-height: 50%;
	min-height: 12px;
	border: 1px solid black;
	border-radius: 5px;
/*	box-shadow: 1px 0px 30px 1px black;
*/	
	background-color: lightgray;
	padding: 0px 5px 3px 5px;
	margin: 2px 5px 12px 5px;
	color: black;
	display: inline;
	cursor: pointer;
}
.x-box:hover {
	background-color: darkgray;
}
.selectionsBox {
	overflow-x: scroll;
	margin: 4px 0 0 180px;
}
.openOptionUsers {
	min-width: 80px;
	height: 46px;
	border: solid gray 3px;
	border-radius: 14px;
	box-shadow: 1 5 5 3;
	padding: 4px 5px 3px 5px;
	margin: 2px 5px 12px 5px;
	background-color: darkgray;
	color: white;
}
.openOptionUsers:hover {
	background-color: lightgray;
	cursor: pointer;
}
.optionChipText {
	display: inline;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
}
input {
	font-size: 20px !important;
	padding: 4px !important;
}
label {
	margin-bottom: 10px !important;
}
.inputBar {
	font-size: 24px !important;
	min-width: 100%;
	margin: 7px 4px !important;
}