.mt_0 {
	margin-top: 0 !important;
}
.entire {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 1080px;
}
.headerBox {
	max-height: 90px;
	position: fixed;
	margin: 0;
	padding: 0;
}
.headerColumn {
	margin: 0 !important;
	padding: 2px 0 0 0 !important;
	width: 100%;
	height: 100%;
}
.headerSegment {
	max-height: 90px;
}
.thePageHeader {
	max-height: 90px;
	color: rgba(255, 189, 56, 0.89) !important;
}
.theLogo {
	max-height: 90px;
	min-width: 72px;
	margin: 14px !important;
	padding: 0 !important;
	display: inline-block !important;
}
.beeznissName {
	max-height: 90px;
	padding: 0px 0 60px 0 !important;
	margin: 0 0 100px 0 !important;
	max-width: 80% !important;
	display: inline-block !important;
	position: relative;
}
.headerSegment {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	align-content: center;
}
.logoutBtn {
	margin: 20px 20px !important;
	font-size: 18px !important;
}
.footer {
	margin-top: 0px;
	padding: 24px !important;
	font-size: 15px;
	background-color: black;
	color: white;
}
.hugeRow {
	margin: 0;
	padding: 0 !important;
	padding-bottom: 120px;
	background-color: rgb(112,112,115);
}

h1 {
	font-family: "Oswald", sans;
	color: white;
}
h2 {
	font-family: "Oswald", sans;
	font-size: 28px;
}
.mb_0 {
	margin: 0 !important;
	padding: 0 !important;

}
body {
	margin-bottom: 0;
	padding-bottom: 0;
}
p {
	margin-bottom: 0;
}
.primaryColumn {

}
.componentBox {
	background-color: darkgray !important;
	box-shadow: 4px 8px 14px rgba(83, 86, 101, 1) !important;
}
.task_seg {
	height: 100% !important;
	max-width: 100% !important;
	padding-bottom: 20px !important;
}
.sales_seg {
	min-height: 36% !important;
	padding: 10px 16px 4px 16px !important;
	max-width: 100% !important;
}
.messaging_seg {
	max-height: 64%;
}
.confcall_seg {
	max-width: 100% !important;
	float: left !important;
	min-height: 25%;
}
.twitter_seg {
	float: left !important; 
	max-width: 100% !important;
	max-height: 75% !important;
}
.marketing_seg {
	min-height: 42%;
}
.calendar_seg {
	max-height: 58%;
	min-height: 50%;
	max-width: 100% !important;
	padding: 2px 18px !important;
}