.mt_0 {
	margin-top: 0 !important;
}

h1 {
	font-family: "Oswald", sans;
	color: white;
}
h2 {
	font-family: "Oswald", sans;
	font-size: 24px;
}
.entire {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.componentBox {
	background-color: darkgray !important;
}
.mb_0 {
	margin: 0 !important;
	padding: 0 !important;

}
body {
	margin-bottom: 0;
	padding-bottom: 0;
}
p {
	margin-bottom: 0;
}
.footer {
	margin-top: 0px;
	padding: 10px;
}
.hugeRow {
	margin: 0;
	padding: 0 !important;
	padding-bottom: 120px;
	max-height: 1000px;
}
.task_seg {
	max-height: 100%;
}
.sales_seg {
	max-height: 370px;
}
.marketing_seg {
	max-height: 380px;
}
.confcall_seg {
	max-height: 390px;
}
messaging_seg {
	max-height: 470px;
}
twitter_seg {
	max-height: 460px;
}
calendar_seg {
	max-height: 450px;
}