.checklistItemText {
	color: white !important;
}
.taskItemElements {
	display: inline-block !important;
	margin: 0 8px;
}
.taskModalTitle {
	font-size: 32px !important;
}
.taskModalDescription {
	font-size: 22px !important;
}
.descriptor {
	font-size: 16px !important;
	font-style: italic;
}
.taskModalElements {
	display: inline-block !important;
}
.taskHeading {
	font-size: 18px;
}
.taskDescription {
	font-size: 14px;
}
.due2 {
	font-style: italic;
	color: gray;
	font-size: 18px;
	margin-right: 4px !important;
}
.due_date2 {
	display: inline-block !important;
	font-size: 22px !important;
	margin-left: 8px !important;
	padding-left: 8px;
}