.mt_0 {
	margin-top: 0 !important;
}

h1 {
	font-family: "Oswald", sans;
	color: white;
}
h2 {
	font-family: "Oswald", sans;
	font-size: 24px;
}
.box {
	padding: 30px;
}
.addProjectButton {
	margin: 12px 0 0 4px !important;
}
.addProjectButtonDiv {
	padding: 24px;
}
.main {
	margin-left: 0px;
	padding-left: 4px;
	min-height: 80vh;
	max-height: 100% !important;
}
.subMain {
	max-height: 106vh;
	overflow-y: auto;
}
.subSubMain {
	max-height: 100%;
	overflow-y: auto;
}
.panelHeaderRow {
	padding: 6px !important;
}
.item {
	/*height: 90px;*/
}
div.content.active {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.taskHeader {
	font-size: 24px;
}
.dropdown.icon {
	display: none !important;
}
.title {
	padding-right: 8px !important;
}
.projectLabel {
	display: inline-block !important;
	width: 98%;
	margin: 0px;
}
.accordionedTaskBox {
	padding: 14px 0px 7px 12px;
	background-color: rgba(116, 124, 154, 1);
	border-radius: 6px;
	width: 96%;
	margin: -18px 0 12px 2px;
}
.projectName {
	margin: 0 8px 4px 0;
	display: block;
}
.userLine {
	display: block;
}
.little_user {
	background-color: #1b1c1d;
	color: white;
	padding: 5px;
	border: solid lightgray 1px;
	border-radius: 4px;
	display: inline-block !important;
	margin: 3px 3px 3px 3px;
	font-size: 16px;
}
.due-button-row {
	padding: 0;
}
.displayInline {
	display: inline-block !important;
	margin: 8px 0 0 0;
}
.due {
	font-style: italic;
	color: gray;
}
.due_date {
	font-size: 14px;
	margin: 4px 2px 6px 0 !important;
}
.ui.animated.list>.item:hover {
	cursor: pointer;
}

.inputsColumn {
	padding-left: 0px !important;
}


.salesHeading {
	padding: 4px 0 0 4px;
}
.btnGroups {
	display: inline-block !important;
	max-width: 44% !important;
	max-height: 80px !important;
	margin: 4px !important;
}
.salesBtn {
	border: 1px solid lightgray !important;
	margin: 2px;
	padding: 8px !important;
}
.salesBtn3 {
	background-color: rgba(125, 232, 191, 0.34) !important;
}
.salesBtn4 {
	background-color: rgba(125, 212, 232, 0.33) !important;
	min-height: 60% !important;
}
.salesBtn5 {
	border: solid lightgray 1px !important;
	background-color: rgba(200, 125, 232, 0.33) !important;
}
.salesBtnBig {
	min-height: 36px !important;
	overflow: hidden;
}
.marketingBox {
	max-height: 96% !important;
	padding-bottom: 8px;
}
.messengerBox {
	max-height: 100%;
}
.messageBox {
  overflow-y: scroll;
  min-height: 180px;
  max-height: 340px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
}