.theModal {
	padding: 28px;
}
.modalRow {
	padding: 2px 0px 2px 0px !important;
}
.projectHeader {
	font-family: "Oswald", sans !important;
	font-size: 32px !important;
	color: rgba(172, 118, 32, 1) !important;
}
.labels {
	border: 2px solid gray;
	border-radius: 3px;
	font-family: "Oswald", sans !important;
	font-size: 18px;
	color: white;
	background-color: rgba(65, 47, 76, 1);
	font-weight: 800;
	padding: 8px 10px !important;
}
.sideMargin {
	margin: 0 8px;
}
.spacer {
	height: 30px;
	min-width: 20px;
}
.taskModalTitle {
	font-size: 32px !important;
}
.taskModalDescription {
	font-size: 22px !important;
}
.descriptor {
	font-size: 16px !important;
	font-style: italic;
}
.displayInline {
	display: inline !important;
}
.projectTaskListItem {
	max-width: 90% !important;
	max-height: 58px !important;
	overflow: hidden;
}
.topRow {
	width: 100% !important;
	height: 18px !important;
	overflow: hidden;
}
.arrows {
	font-family: "Oswald", sans !important;
	display: inline;
	font-size: 22px;
	margin-right: 4px;
	float: left;
	color: white;
}
.taskHeading {
	font-size: 18px;
	max-width: 78% !important;
	height: 18px;
	overflow: hidden;
	float: left;
	color: rgba(20, 35, 42, 1) !important;
}
.ellipsis {
	display: inline;
	height: 18px;
	font-size: 18px;
	color: black;
	overflow: hidden;
	float: left;
}
.taskDescription {
	font-size: 13px;
	max-width: 82% !important;
	height: 16px;
	overflow: hidden;
	float: left;
	color: white;
}
.ellipsis2 {
	display: inline;
	width: 10px;
	height: 14px;
	font-size: 14px;
	color: white;
	overflow: hidden;
	float: left;
}
.due2 {
	font-style: italic;
	color: gray;
	font-size: 18px;
	margin-right: 4px !important;
}
.due_date2 {
	display: inline-block !important;
	font-size: 22px !important;
	margin-left: 8px !important;
	padding-left: 8px;
}

.projectNameBar {
	background-color: darkgray;
	font-size: 48px;
	display: block;
	padding: 5px;
	border-radius: 3px;
}
.projectNameAsText {
	font-size: 24px;
	padding: 2px 3px 3px 4px;
}
.projectNameAsInput {
	font-size: 24px;
}

.taskHeadingBar {
	font-size: 28px;
	color: darkgray;
	margin: 6px 0px 24px;
}
.confirmText {
	font-size: 22px;
}
.addAHeading {
	font-size: 22px;
	padding: 0px 2px;
	font-style: italic;
	color: lightgray;
}
.headingAsInput {
	font-size: 22px !important;
	width: 100% !important;
}
.headingAsText {
	font-size: 22px;
	font-weight: 800;
	padding: 2px 0 2px 4px;
	margin: 0;
}
.dateAsText {
	font-size: 20px;
	padding: 5px 0 3px 5px;
}
.dateAsInput {
	font-size: 20px;
}
.descriptionAsText {
	font-size: 18px;
	padding: 2px 3px 4px 3px;
	margin: 0px 0px 2px 1px;
}
.descriptionAsInput {
	margin: 0px 0px 4px 0px;
	min-width: 160px;
	width: 100%;
	font-size: 18px !important;
}
.ui.input {
	width: 100%;
}
.description {
	width: 100%;
}
.finePrint {
	font-size: 14px;
	padding: 12px 0 0 8px;
}
.italicized {
	font-style: italic;
	color: gray;
}
.usersBox {
	width: 100%;
	border: none !important;
}
.userChipsBox {
	padding: 4px !important;
	height: 64px;
	display: inline-block;
	overflow: auto;
}
.modal_users {
	float: left;
	min-width: 100px;
	height: 46px;
	border: solid gray 2px;
	border-radius: 4px;
	box-shadow: 1 5 5 3;
	background-color: white;
	color: black;
	padding: 6px;
	margin: 0 6px 6px 6px;
	font-size: 22px;
	font-weight: 800;
}
.openOptionUsers {
	float: left;
	min-width: 80px;
	height: 46px;
	border: solid gray 2px;
	border-radius: 4px;
	box-shadow: 1 5 5 3;
	padding: 4px 5px 3px 5px;
	margin: 2px 5px 2px 5px;
	background-color: darkgray;
	color: white;
}
.openOptionUsers:hover {
	background-color: lightgray;
	cursor: pointer;
}
.userChipText {
	float: left;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
	font-weight: 800;
}
.xboxMargin {
	padding: 0;
	margin: 4px;
	float: right;
}
.x-box {
	width: 23px !important;
	height: 23px !important;
	border: 1px solid black;
	border-radius: 4px;
/*	box-shadow: 1px 0px 30px 1px black;
*/	
	background-color: lightgray;
	padding: 0 !important;
	margin: 5 !important;
	color: black;
	float: right;
	cursor: pointer;
}
.x-box:hover {
	background-color: darkgray;
}
.theX {
	margin: 0 !important;
	padding: 0 !important;
	float: center;
}
.selectionsBox {
	overflow-x: scroll;
	margin: 4px 0 0 180px;
}

.scrollboxForChecklistItems {
	padding: 0;
	width: 600px;
	height: 140px;
	overflow-y: auto;
}
.itemBox {
	width: 100%;
	padding: 4px;
	min-height: 40px;
}
.checklistItemInline {
	display: inline-block;

	color: black;
}
.checkbox {
	width: 30px;
}
.textDiv {
	min-width: 300px;
	padding: 0px;
	color: yellow;
}
.checklistItemText {
	font-size: 16px;
	margin: 0px 4px 3px 2px;
	padding: 3px 3px 3px 4px;
	min-width: 80%;
	color: white;
	background-color: rgba(39, 49, 63, 1);
	border-radius: 3px;
}
.checklistItemInput {
	margin: 0 !important;
	font-size: 16px !important;
	width: 98%;
}
.deleteMargin {
	padding: 0px;
	margin: -3px 0 -3px 4px;
}
.checklistItemDelete {
	width: 20px;
	height: 20px;
	background-color: black;
	font-size: 18px;
	padding: -2px 0px 0px 3px;
	border-radius: 3px;
	margin: 0;
}
.checklistItemDelete:hover {
	cursor: pointer;
	background-color: darkred;
}
.addChecklistItemBar {
	margin-top: 20px;
	padding-top: 10px;
}
.editButton {
	width: 36px;
	height: 36px;
	padding: 6px !important;
	margin: 2px 8px 0 10px !important;
	float: right;
}
.taskListHeader {
	font-size: 24px;
	font-style: italic;
	background-color: lightgray !important;
	color: darkslategray !important;
	border-radius: 4px;
	padding: 3px 3px 3px 6px;
	max-width: 50%;
}
.taskListBox {

}
.taskItem {
	font-size: 20px;
}
.well {
	max-width: 400px; 
	margin: 0 auto 4px;
}
.buttonWell {
	float: right;
}
.editProjectHeader {
	font-size: 30px !important;
	border: solid lightgray 5px !important;
	color: lightgray !important;
	margin-bottom: 10px !important;
}
.dateConstituents {
	color: darkgray;
}
.userDropdown {
	margin: 6px 2px 6px 0px !important;
}
.optionChipText {
	display: inline;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
}
input {
	padding: 3px !important;
}
label {
	margin-bottom: 10px !important;
}
.inputBar {
	font-size: 24px !important;
	width: 80%;
	margin: 7px 4px !important;
}
.inline {
	display: inline-block !important;
}
.collaborators {
	margin-right: 10px;
	margin-left: 50px;
	font-size: 18px;
	display: inline-block !important;
	font-style: italic;
	color: white;
}
.addProjectButton {
	margin: 12px 0 0 6px;
	background-color: rgba(177, 153, 47, 1) !important;
	color: rgba(222, 213, 171, 1) !important;
}
.addProjectButton:hover {
	background-color: rgba(189, 164, 50, 1) !important;
	color: rgba(245, 242, 229, 1) !important;

}
.createanewproject {
	font-family: "Oswald", sans !important;
	color: darkgray !important;
	font-size: 36px !important;	
}
.addTaskButton {
	background-color: rgba(135, 205, 238, 1) !important;
}
.addTaskButton:hover {
	background-color: rgba(157, 214, 241, 1) !important;
}