.theModal {
	padding: 28px;
}
.modalRow {
	padding: 2px 0px 2px 0px !important;
}
.projectHeader {
	font-size: 28px !important;
	color: rgba(172, 118, 32, 1) !important;
}
.labels {
	border: 2px solid gray;
	border-radius: 3px;
	font-size: 16px;
	color: white;
	background-color: darkgray;
	font-weight: 800;
	padding-top: 3px !important;
}
.sideMargin {
	margin: 0 8px;
}
.taskModalTitle {
	font-size: 32px !important;
}
.taskModalDescription {
	font-size: 22px !important;
}
.descriptor {
	font-size: 16px !important;
	font-style: italic;
}
.displayInline {
	display: inline-block !important;
}
.taskHeading {
	font-size: 18px;
}
.taskDescription {
	font-size: 14px;
}
.due2 {
	font-style: italic;
	color: gray;
	font-size: 18px;
	margin-right: 4px !important;
}
.due_date2 {
	display: inline-block !important;
	font-size: 22px !important;
	margin-left: 8px !important;
	padding-left: 8px;
}

.projectNameBar {
	background-color: darkgray;
	font-size: 48px;
	display: block;
	padding: 5px;
	border-radius: 3px;
}
.taskHeadingBar {
	font-size: 28px;
	color: darkgray;
	margin: 6px 0px 24px;
}
.confirmText {
	font-size: 22px;
}
.headingAsText {
	font-size: 20px;
	padding: 3px 0 3px 5px;
}
.dateAsText {
	font-size: 20px;
	padding: 6px 0 3px 5px;
}
.descriptionAsText {
	font-size: 20px;
	margin: 6px 0 7px 5px;
}
.descriptionAsInput {
	margin: 3px 0px 4px 0px;
	min-width: 160px;
}

.usersBox {
	width: 100%;
	border: none !important;
}
.userChipsBox {
	padding: 4px !important;
	width: 340px;
	height: 64px;
	display: inline-block;
	overflow: auto;
}
.modal_users {
	float: left;
	min-width: 100px;
	height: 46px;
	border: solid gray 2px;
	border-radius: 4px;
	box-shadow: 1 5 5 3;
	background-color: white;
	color: black;
	padding: 6px;
	margin: 0 6px;
	font-size: 22px;
	font-weight: 800;
}
.openOptionUsers {
	float: left;
	min-width: 80px;
	height: 46px;
	border: solid gray 2px;
	border-radius: 4px;
	box-shadow: 1 5 5 3;
	padding: 4px 5px 3px 5px;
	margin: 2px 5px 2px 5px;
	background-color: darkgray;
	color: white;
}
.openOptionUsers:hover {
	background-color: lightgray;
	cursor: pointer;
}
.userChipText {
	float: left;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
	font-weight: 800;
}
.x-box {
	width: 24px !important;
	height: 24px !important;
	border: 1px solid black;
	border-radius: 4px;
/*	box-shadow: 1px 0px 30px 1px black;
*/	
	background-color: lightgray;
	padding: 0 !important;
	margin: 5 !important;
	color: black;
	float: right;
	cursor: pointer;
}
.x-box:hover {
	background-color: darkgray;
}
.theX {
	margin: 0 !important;
	padding: 0 !important;
	float: center;
}
.selectionsBox {
	overflow-x: scroll;
	margin: 4px 0 0 180px;
}

.scrollboxForChecklistItems {
	padding: 0;
	width: 600px;
	height: 150px !important;
	overflow-y: auto;
}
.itemBox {
	width: 100%;
	padding: 4px;
	min-height: 40px;
}
.ChecklistItemInline {
	display: inline-block;

	color: black;
}
.checkbox {
	width: 30px;
}
.textDiv {
	min-width: 300px;
	padding: 0px;
	color: yellow;
}
.checklistItemText {
	font-size: 20px;
	margin: 3px 4px 3px 2px;
	padding-left: 5px;
	color: darkgray !important;
	background-color: rgba(67, 77, 56, 1);
	border-radius: 3px;
}
.checklistItemInput {
	padding: 0;
	margin: 0;
}
.checklistItemDelete {
	width: 20px;
	height: 20px;
	background-color: darkred;
	font-size: 18px;
	padding: -4px 0px 0px 3px;
	border-radius: 3px;
}
.checklistItemDelete:hover {
	cursor: pointer;
}
.addChecklistItemBar {
	margin-top: 20px;
	padding-top: 10px;
}
.editButton {
	width: 36px;
	height: 36px;
	padding: 6px !important;
	margin: 2px 8px 0 10px !important;
	float: right;
}
.taskListHeader {
	font-size: 24px;
	font-style: italic;
	background-color: lightgray !important;
	color: darkslategray !important;
	border-radius: 4px;
	padding: 3px 3px 3px 6px;
	max-width: 50%;
}
.taskListBox {

}
.taskItem {
	font-size: 20px;
}
.well {
	max-width: 400px; 
	margin: 0 auto 4px;
}
.buttonWell {
	float: right;
}
.editProjectHeader {
	font-size: 30px !important;
	border: solid lightgray 5px !important;
	color: lightgray !important;
	margin-bottom: 10px !important;
}
.dateConstituents {
	color: darkgray;
}
.userDropdown {
	margin: 6px 2px 6px 240px !important;
}
.optionChipText {
	display: inline;
	margin: 3px 3px 5px 3px;
	font-size: 18px;
}
input {
	font-size: 20px !important;
	padding: 4px !important;
}
label {
	margin-bottom: 10px !important;
}
.inputBar {
	font-size: 24px !important;
	width: 80%;
	margin: 7px 4px !important;
}
.inline {
	display: inline-block !important;
}
.collaborators {
	margin-right: 10px;
	margin-left: 50px;
	font-size: 18px;
	display: inline-block !important;
	font-style: italic;
	color: white;
}
.addProjectButton {
	margin: 12px 0 0 6px;
	background-color: rgba(255, 189, 56, 0.85) !important;
}